@use "../break";

/*
  ヒーローセクション
*/

@mixin pos($width, $top, $left) {
	width: #{$width}px;
	top: #{$top}px;
	left: #{$left}px;
	@media screen and (max-width: 720px) {
		width: calc($width / 720 * 100vw);
		top: calc($top / 720 * 100vw);
		left: calc($left / 720 * 100vw);
	}
}

.hero-section {
	width: 100%;
	height: 720px;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../assets/img/necromance/HERO_BG.jpg');
	background-size: cover;
	background-position: center center;
	z-index: -3;
	position: relative;
	padding: 0;

	@media screen and (max-width: 600px) {
		height: 600px;
	}

	@media screen and (max-width: 400px) {
		height: 400px;
	}

	&__elements-wrapper {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__elements {
		height: 100vw;
		width: 100vw;
		max-width: 720px;
		max-height: 720px;
		position: relative;
		overflow: hidden;
		user-select: none;
	}

	&__shape-divider {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	%anime01 {
		// 魔法陣
		animation-name: fadeIn;
		animation-timing-function: ease-in;
		animation-duration: 0.3s;
		animation-delay: 0.5s;
		animation-fill-mode: both;
	}

	%anime02 {
		// ネクロマンスちゃん
		animation-name: slideFadeUp;
		animation-timing-function: ease-in;
		animation-duration: 0.3s;
		animation-delay: 1s;
		animation-fill-mode: both;
	}

	%anime03 {
		// ボス
		animation-name: fadeIn;
		animation-timing-function: ease-in;
		animation-duration: 0.3s;
		animation-delay: 1.5s;
		animation-fill-mode: both;
	}

	%anime04-left {
		// 左敵
		animation-name: slideFadeLeft;
		animation-timing-function: ease-in;
		animation-duration: 0.3s;
		animation-delay: 2s;
		animation-fill-mode: both;
	}

	%anime04-right {
		// 右敵
		animation-name: slideFadeRight;
		animation-timing-function: ease-in;
		animation-duration: 0.3s;
		animation-delay: 2s;
		animation-fill-mode: both;
	}
	transform: rotate(0deg);

	%anime05 {
		// 玉
		animation-name: slideFadeRotate;
		animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
		animation-duration: 0.3s;
		animation-delay: 2.5s;
		animation-fill-mode: both;
	}

	%anime06 {
		// エフェクト
		animation-name: fadeIn;
		animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
		animation-duration: 0.3s;
		animation-delay: 3s;
		animation-fill-mode: both;
	}

	%anime07 {
		// ロゴ
		animation-name: bounceIn;
		animation-timing-function: cubic-bezier(0.91, 1.79, 0.01, 1.13);
		animation-duration: 300ms;
		animation-delay: 3.5s;
		animation-fill-mode: both;
	}

	%anime-kirakira {
		animation-name: kirakira;
		animation-timing-function: ease-in;
		animation-duration: 4s;
		animation-delay: 4s;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;
	}

	&__layer01 {
		// ボス
		position: absolute;
		opacity: 0;
		@include pos(708.05, 0, 5.98);
		@extend %anime03;
	}

	&__layer02 {
		// キラキラ
		position: absolute;
		opacity: 0;
		@include pos(687.48, 250.84, 10.55);
		@extend %anime06;
		@extend %anime-kirakira;
	}

	&__layer03 {
		// 右敵-青
		position: absolute;
		opacity: 0;
		@include pos(178.24, 230.8, 514.51);
		@extend %anime04-right;
	}

	&__layer04 {
		// 魔法陣1
		position: absolute;
		opacity: 0;
		@include pos(409.57, 592.03, 155.21);
		@extend %anime01;
	}

	&__layer05 {
		// 魔法陣2
		position: absolute;
		opacity: 0;
		@include pos(438.05, 591.5, 139.92);
		@extend %anime01;
	}

	&__layer06 {
		// 魔法陣3
		position: absolute;
		opacity: 0;
		@include pos(466.88, 583.77, 128.14);
		@extend %anime01;
	}

	&__layer07 {
		// 衝撃波奥
		position: absolute;
		opacity: 0;
		@include pos(493.95, 454.92, 113.03);
		@extend %anime06;
	}

	&__layer08 {
		// 弾1-青
		position: absolute;
		opacity: 0;
		@include pos(394.08, 183.52, 128.14);
		@extend %anime05;
	}

	&__layer09 {
		// ネクロマンスちゃん
		position: absolute;
		opacity: 0;
		@include pos(334.16, 263.67, 177.89);
		@extend %anime02;
	}

	&__layer10 {
		// 弾2-赤
		position: absolute;
		opacity: 0;
		@include pos(345.59, 416.95, 225);
		@extend %anime05;
	}

	&__layer11 {
		// 衝撃波手前
		position: absolute;
		opacity: 0;
		@include pos(642.3, 516.27, 38.85);
		@extend %anime06;
	}

	&__layer12 {
		// 左敵-赤
		position: absolute;
		opacity: 0;
		@include pos(180.18, 342, 0);
		@extend %anime04-left;
	}

	&__logo {
		// ロゴ
		position: absolute;
		transform: scale(0);
		@include pos(580, 450, 70);
		@extend %anime07;
	}
}
